/* LIKES/DISLIKE BUTTON */
/* Make Relevent Courses Cooler */
/* Arrow/Snap to Skills */
/* Project Page */
/* Include Transcript */
/* Some type of background animation??? */


/* Software II */
/* CSE 2321 Foundation I Discrete Structures */
/* Stat 2450 and 3470 */
/* ECE 2060 Intro to Digital Logic */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

/* ANIMATIONS (Start) */

@keyframes changeBorderRadiusHS {
    0% {
      border-radius: 35% 65% 84% 16% / 64% 24% 76% 36%;
    }
    50% {
      border-radius: 82% 18% 62% 38% / 34% 24% 76% 66%;
    }
    100% {
      border-radius: 21% 79% 19% 81% / 64% 37% 63% 36%;
    }
  }

@keyframes changeBorderRadiusCollege {
    0% {
      border-radius: 80% 20% 57% 43% / 86% 37% 63% 14%;
    }
    50% {
      border-radius: 45% 55% 51% 49% / 26% 46% 54% 74%;
    }
    100% {
      border-radius: 71% 29% 17% 83% / 74% 21% 79% 26%;
    }
}

@keyframes rotateImage {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}
  

/* ANIMATIONS (End) */

/* Navigation Bar Section (Start) */

.navbar {
    background: #131313;
    height: 110px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    position: absolute;
    top: 35%;
    left: 50px;


}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    position: absolute;
    right: 50px;
}

.navbar__item {
    height: 80px;

}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: red;
    transition: all 0.6s ease-in-out;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.6s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -500%;
        opacity: 0;
        height: 50vh;
        z-index: -1;
        transition: all 0.6s ease;
    }

    .navbar__menu.active {
        background: #141414;
        top: 100% !important;
        opacity: 1 !important;
        transition: all 0.6s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.6s ease-in-out;
        background: #fff;
    }
    .navbar__item {
        width: 100%;

    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__btn {
        padding-bottom: 2rem;
    }
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Navigation Bar Section (End) */

/* Hero Section (Start) */

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0;
    height: 786px; 
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.6s ease;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    transition: all 0.6s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */

@media screen and (max-width: 760px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        height: 1050px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #navbar__logo {
        left: 0px;
    }
}

@media screen and (max-width: 480px){
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    
    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* ABOUT ME PAGE (Start) */

/* THIS IS FOR THE BLUE STUFF IN ALL THE BOXES (Start) */
.head {
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 20px;
    position: absolute;
    left: 30%;
    top: 7.5%;
}
/* THIS IS FOR THE BLUE STUFF IN ALL THE BOXES (End) */

.AboutMePage {
    height: 1500px;
    background-color: #141414;
    position: relative;
}


.Header {
    font-weight: 900;
    position: absolute;
    text-align: center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 89px;
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* LIKES (Start) */

.Likes {

    position: absolute;
    left: 22.5%;
    top: 400px;
    font-weight: 900;
    font-size: 40px;
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    overflow: hidden; /* Hide any overflow */
    width: 97px;
}

.LikeBox1 {
    height: 100px;
    width: 300px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 255px;
    right: 16.75%;
    box-shadow: rgba(183, 33, 255, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.LikeBox1 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.LikeBox1 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 40.5%;
}

.LikeBox2 {
    height: 100px;
    width: 300px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 385px;
    right: 16.75%;
    box-shadow: rgba(183, 33, 255, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.LikeBox2 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.LikeBox2 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 60.5%;
}

.LikeBox3 {
    height: 100px;
    width: 300px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 515px;
    right: 16.75%;
    box-shadow: rgba(183, 33, 255, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.LikeBox3 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
}

.LikeBox3 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 40.5%;
}

/* LIKES (End) */

/* DISLIKES (Start) */

.Dislikes {
    color: white;
    position: absolute;
    right: 22.5%;
    top: 812.5px;
    transform: translateX(32.5%);
    font-weight: 900;
    font-size: 40px;
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    width: 144px;
}

.DislikeBox1 {
    height: 100px;
    width: 300px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 662.5px;
    left: 16.75%;
    box-shadow: rgba(183, 33, 255, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;

}

.DislikeBox1 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.DislikeBox1 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 65.5%;
}

.DislikeBox2 {
    height: 100px;
    width: 300px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 792.5px;
    left: 16.75%;
    box-shadow: rgba(183, 33, 255, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.DislikeBox2 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.DislikeBox2 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 40.5%;
}

.DislikeBox3 {
    height: 100px;
    width: 300px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 922.5px;
    left: 16.75%;
    box-shadow: rgba(183, 33, 255, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.DislikeBox3 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
}

.DislikeBox3 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 40.5%;
}

/* DISLIKES (End) */

/* HOBBIES (Start) */

.Hobbies {
    color: white;
    position: absolute;
    left: 22.5%;
    top: 1212.5px;
    transform: translateX(-36.5%);
    font-weight: 900;
    font-size: 40px;
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.HobbieBox1 {
    height: 100px;
    width: 300px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 1070px;
    right: 16.75%;
    box-shadow: rgba(183, 33, 255, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.HobbieBox1 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.HobbieBox1 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 65.5%;
}

.HobbieBox2 {
    height: 100px;
    width: 300px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 1200px;
    right: 16.75%;
    box-shadow: rgba(183, 33, 255, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.HobbieBox2 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
}

.HobbieBox2 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 40.5%;
}

.HobbieBox3 {
    height: 100px;
    width: 300px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 1330px;
    right: 16.75%;
    box-shadow: rgba(183, 33, 255, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.HobbieBox3 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.HobbieBox3 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 62.5%;
}

.LikeBox1:hover, .LikeBox2:hover, .LikeBox3:hover,
.DislikeBox1:hover, .DislikeBox2:hover, .DislikeBox3:hover,
.HobbieBox1:hover, .HobbieBox2:hover, .HobbieBox3:hover {
    transform: scale(1.1);
}

/* HOBBIES (End) */

/* MOBILE/ANIMATIONS (Start) */

@media screen and (max-width: 760px) {
    .Header {
        margin-top: 50px;
    }
}

@media screen and (max-width: 700px) {
    .Likes {
        left: 15%;
    }

    .Hobbies {
        left: 18%;
    }

    .Dislikes {
        right: 17.5%;
    }
}

@media screen and (max-width: 650px){

    .Likes {
        left: 50%;
        transform: translate(-50%, -450%);
    }

    .DislikeBox1, .DislikeBox2, .DislikeBox3 {
        margin-top: 50px;
    }

    .Dislikes {
        text-align: center;
        left: 50%;
        transform: translate(-50%, -330%);
    }

    .HobbieBox1, .HobbieBox2, .HobbieBox3 {
        margin-top: 90px;
    }

    .Hobbies {
        left: 50%;
        transform: translate(-50%, -230%);
    }

    .AboutMePage {
        height: 1950px;
    }

    .LikeBox2 {
        margin-top: 40px;
    }

    .LikeBox3 {
        margin-top: 80px;
    }

    .Dislikes {
        margin-top: 120px;
    }

    .DislikeBox1 {
        margin-top: 187.5px;
    }

    .DislikeBox2 {
        margin-top: 227.5px;
    }

    .DislikeBox3 {
        margin-top: 267.5px;
    }

    .Hobbies {
        margin-top: 260px;
    }

    .HobbieBox1 {
        margin-top: 367.5px;
    }

    .HobbieBox2 {
        margin-top: 407.5px;
    }

    .HobbieBox3 {
        margin-top: 447.5px;
    }

    .LikeBox1, .LikeBox2, .LikeBox3, 
    .DislikeBox1, .DislikeBox2, .DislikeBox3,
    .HobbieBox1, .HobbieBox2, .HobbieBox3 {
        left: 50%;
        transform: translateX(-50%);
    }

    .LikeBox1:hover, .LikeBox2:hover, .LikeBox3:hover,
.DislikeBox1:hover, .DislikeBox2:hover, .DislikeBox3:hover,
.HobbieBox1:hover, .HobbieBox2:hover, .HobbieBox3:hover {
    transform: translateX(-50%);
}

}

/* MOBILE/ANIMATIONS (End) */
/* ABOUT ME PAGE (End) */

/* EDUCATION PAGE (Start) */

.EducationPage {
    height: 2220px;
    background-color: #141414;
    position: relative;
}

.Header2 {
    font-weight: 900;
    position: absolute;
    text-align: center;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 89px;
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    width: 112px;
}

.HSCircle {
    height: 200px;
    width: 200px;
    border: solid;
    border-color: white;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 25%;
    display: flex;
    justify-content: center;
    background-color: #113625;
    border-color: #113625;
    animation: changeBorderRadiusHS 3s linear infinite alternate;
}

.HSCircle h1 {
    white-space: nowrap; /* Prevent line breaks */
    overflow: auto; /* Enable horizontal scrolling when necessary */
    display: inline-block; /* Match the width to the text content */
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 230px;
    background: linear-gradient(to top, #bda16e 0%, #113625 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.HSCircle h2 {
    position: absolute;
    top: 208px;
    left: 25.3%;
    color: white;
    font-size: 16px;
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.HSCircle p {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    white-space: nowrap; /* Prevent line breaks */
    overflow: auto; /* Enable horizontal scrolling when necessary */
    display: inline-block; /* Match the width to the text content */
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 208px;
}

#JLogo {
    height: 100px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
}

.ColCircle {
    height: 200px;
    width: 200px;
    border: solid;
    border-color: white;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right: 25%;
    display: flex;
    justify-content: center;
    background-color: white;
    animation: changeBorderRadiusCollege 3s linear infinite alternate;
}

.ColCircle h1 {
    white-space: nowrap; /* Prevent line breaks */
    overflow: auto; /* Enable horizontal scrolling when necessary */
    display: inline-block; /* Match the width to the text content */
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 230px;
    background: linear-gradient(to top, red 0%, grey 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.yearOSU {
    position: absolute;
    top: 208px;
    left: 24.5%;
    color: white;
    font-size: 16px;
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.major {
    white-space: nowrap; /* Prevent line breaks */
    overflow: auto; /* Enable horizontal scrolling when necessary */
    display: inline-block; /* Match the width to the text content */
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 270px;
    font-weight: 1;
    font-size: 15px;
    color: white;
}

.ColCircle p {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    white-space: nowrap; /* Prevent line breaks */
    overflow: auto; /* Enable horizontal scrolling when necessary */
    display: inline-block; /* Match the width to the text content */
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 208px;
}

#OSULogo {
    height: 135px;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.Rel {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 700px;
    color: white;
    display: inline-block;
    white-space: nowrap;
}

.CourseBox1 {
    height: 150px;
    width: 375px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 800px;
    left: 16.75%;
}
.CourseBox2 {
    height: 150px;
    width: 375px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 800px;
    right: 16.75%;
}

.CourseBox3 {
    height: 150px;
    width: 375px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 1000px;
    left: 16.75%;
}
.CourseBox4 {
    height: 150px;
    width: 375px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 1000px;
    right: 16.75%;
}

.CourseBox5 {
    height: 150px;
    width: 375px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 1200px;
    left: 16.75%;
}
.CourseBox6 {
    height: 150px;
    width: 375px;
    background: #141414;
    position: absolute;
    border: solid;
    border-color: grey;
    top: 1200px;
    right: 16.75%;
}

.CourseBox1 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.CourseBox1 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 30.5%;
}

.CourseBox2 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6.5%;
}

.CourseBox2 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 46.5%;
}

.CourseBox3 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8.5%;
}

.CourseBox3 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 38.5%;
}

.CourseBox4 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8.5%;
}

.CourseBox4 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 42.5%;
}

.CourseBox5 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

.CourseBox5 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 35.5%;
}

.CourseBox6 h2 {
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7.5%;
}

.CourseBox6 p {
    color: white;
    font-size: 10px;
    position: absolute;
    width: 65%;
    left: 30%;
    top: 32.5%;
}

.SkillsBar {
    height: 200px;
    width: 100%;
    background-color: #141414;
    position: absolute;
    top: 1500px;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.SkillHead {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1500px;
    z-index: 16;
}

.Skill {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: white;
    transform: translateY(75%);
}

.Skill h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.Skill p {
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translateX(-50%);
    font-weight: 900;
    color: white;
}

.AcSocClub {
    height: 200px;
    width: 100%;
    background-color: #141414;
    position: absolute;
    top: 1800px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}

.AcSocClub h1 {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Prevent line breaks */
    overflow: auto; /* Enable horizontal scrolling when necessary */
    display: inline-block; /* Match the width to the text content */
}

.Club1 {
    height: 100px;
    min-width: 100px;
    border-radius: 50%;
    background-color: white;
    transform: translateY(75%);
    margin-right: 25%;
    color: green;
}

.Club2 {
    height: 100px;
    min-width: 100px;
    border-radius: 50%;
    background-color: white;
    transform: translateY(75%);
    color: #FFCC00;
}

.Club1 h2, .Club2 h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    animation: rotateImage 3s linear infinite;

}

.Club1 p, .Club2 p {
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translateX(-50%);
    font-weight: 900;
    color: white;
    white-space: nowrap; /* Prevent line breaks */
    overflow: auto; /* Enable horizontal scrolling when necessary */
    display: inline-block; /* Match the width to the text content */
}

.Skill:nth-child(1) {
    color: red;
}

.Skill:nth-child(2) {
    color: #f06529;
}

.Skill:nth-child(3) {
    color: #2965f1;
}

.Skill:nth-child(4) {
    color: #ffde57;
}

.Skill:nth-child(5) {
    color: #1D6F42;
}

/* RESUME/SOCIAL BUTTONS (Start) */

.SocialContact {
    height: 100px;
    width: 600px;
    position: absolute;
    left: 50%;
    top: 2115px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.Resume {
    height: 50px;
    width: 110px;
    color: black;
    background-color: white;
    font-weight: 900;
    border: solid;
    border-radius: 35px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
}

.Resume:hover {
    background-color: #131313;
    color: white;
    transition: all 0.6s ease;
}

.ContactMe {
    height: 50px;
    width: 110px;
    color: black;
    background-color: white;
    border: solid;
    border-radius: 35px;
    font-weight: 900;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
}

.ContactMe:hover {
    background-color: #131313;
    color: white;
    transition: all 0.6s ease;
}

.instagram, .linkedin {
    color: white;
    font-size: 60px;
    transform: translateY(16%);
}

.instagram:hover {
    color: #E1306C;
    transition: all 0.6s ease;
}

.linkedin:hover {
    color: #0072b1;
    transition: all 0.6s ease;
}

/* RESUME/SOCIAL BUTTONS (End) */

/* PAGE SHRINK RESPONSIVENESS (Start) */

@media screen and (max-width: 1250px) {

    .EducationPage {
        height: 2850px;
    }

    .Header2 {
        top: 13px;
    }

    .HSCircle {
        left: 50%;
        transform: translateX(-50%);
        top: 200px;
    }
    
    .ColCircle {
        left: 50%;
        transform: translateX(-50%);
        top: 525px;
    }

    .Rel, .CourseBox1, .CourseBox2, .CourseBox3, 
    .CourseBox4, .CourseBox5, .CourseBox6, .SkillsBar,
    .AcSocClub {
        left: 50%;
        transform: translateX(-50%);
    }

    .SkillsBar, .AcSocClub {
        margin-top: 650px;
    }

    .Rel {
        margin-top: 185px;
    }

    .CourseBox1{
        margin-top: 150px;
    }

    .CourseBox2 {
        margin-top: 350px;
    }

    .CourseBox3 {
        margin-top: 350px;
    }

    .CourseBox4 {
        margin-top: 550px;
    }

    .CourseBox5 {
        margin-top: 550px;
    }

    .CourseBox6 {
        margin-top: 750px;
    }

    .SkillHead {
        color: white;
        position: absolute;
        top: 2160px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 16;
    }

    .SocialContact {
        top: 2750px;
    }


}

/* PAGE SHRINK RESPONSIVENESS (End) */


/* MOBILE RESPONSIVENESS (Start) */

@media screen and (max-width: 650px) {
    .SkillsBar {
        height: 200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 1500px;
        display: flex;
        overflow-x: auto;
    }
    
    .Skill {
        min-width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 50%;
    }

    .Skill:not(:last-child) {
        margin-right: 100px; /* Add the desired margin value */
      }
    
    .SkillsBar::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .SkillHead {
        color: white;
        position: absolute;
        top: 2160px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 16;
    }

    .Resume, .ContactMe {
        font-size: 12.5px;
        height: 40px;
        width: 100px;
        transform: translateY(75%);
    }

    .SocialContact {
        margin-top: 65px;
        width: 350px;
    }

    .instagram, .linkedin {
        font-size: 40px;
        transform: translateY(50%);
    }
    
    .SocialContact {
        top: 2675px;
        width: 450px;
    }


}

@media screen and (max-width: 480px) {
    .HSCircle h1, .ColCircle h1 {
        font-size: 25px;
    }

    .ColCircle h1 {
        width: 302px;
    }

    .AcSocClub, .SkillHead {
        font-size: 12.5px;
    }

    .SocialContact {
        width: 375px;
    }
    
}

/* MOBILE RESPONSIVENESS (End) */