/* LIKES/DISLIKE BUTTON */
/* Some type of background animation??? */

/* add source code and make sure all links work */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

/* ANIMATIONS (Start) */

@keyframes changeBorderRadiusHS {
    0% {
      border-radius: 35% 65% 84% 16% / 64% 24% 76% 36%;
    }
    50% {
      border-radius: 82% 18% 62% 38% / 34% 24% 76% 66%;
    }
    100% {
      border-radius: 21% 79% 19% 81% / 64% 37% 63% 36%;
    }
  }

@keyframes changeBorderRadiusCollege {
    0% {
      border-radius: 80% 20% 57% 43% / 86% 37% 63% 14%;
    }
    50% {
      border-radius: 45% 55% 51% 49% / 26% 46% 54% 74%;
    }
    100% {
      border-radius: 71% 29% 17% 83% / 74% 21% 79% 26%;
    }
}

@keyframes rotateImage {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}
  

/* ANIMATIONS (End) */

/* Navigation Bar Section (Start) */

.navbar {
    background: #131313;
    height: 110px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    position: absolute;
    top: 35%;
    left: 50px;


}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    position: absolute;
    right: 50px;
}

.navbar__item {
    height: 80px;
}

.navbar__links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: red;
    transition: all 0.6s ease-in-out;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.6s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -500%;
        opacity: 0;
        height: 50vh;
        z-index: -1;
        transition: all 0.6s ease;
    }

    .navbar__menu.active {
        background: #141414;
        top: 100% !important;
        opacity: 1 !important;
        transition: all 0.6s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.6s ease-in-out;
        background: #fff;
    }
    
    .navbar__item {
        width: 100%;
        margin-top: -20px;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__btn {
        padding-bottom: 2rem;
    }
    
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Navigation Bar Section (End) */

/* Hero Section (Start) */

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0;
    height: 786px; 
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.6s ease;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    transition: all 0.6s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */

@media screen and (max-width: 760px) {
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        height: 1050px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #navbar__logo {
        left: 0px;
    }

    .main__img--container {
        transform: translateY(-50px);
    }

}

@media screen and (max-width: 480px){
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    
    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }

    .main__img--container {
        transform: translateY(-150px);
    }

}

/* ABOUT ME PAGE (Start) */

.AboutMePage {
    height: 2000px;
    padding: 10px;
    background-color: #141414;
}

.AboutHeader {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 70px;
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.AboutContent {
    height: 100%;
    width: 100%;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section {
    height: 600px;
    width: 100%;
    background-color: #191919;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 50px;
    padding: 0 20px 0 0;
}

#section:nth-child(2) {
    flex-direction: row-reverse;
    padding: 0 0 0 20px;
}


#sectionContent {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sectionContent h1 {
    margin-bottom: 50px;
}

#box {
    height: 100px;
    width: 300px;
    background: #141414;
    border: solid;
    box-shadow: rgba(183, 33, 255, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}


.boxcontent {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    padding: 0px 10px 5px 0px;
}

.boximage {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.boxcontent h3 {
    font-size: 20px;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.boxcontent p {
    font-size: 10px;
}

.Img {
    font-size: 100px;
}

span {
    display: none;
}

.dislikeBox #box {
    box-shadow: rgba(183, 33, 255, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}


@media screen and (max-width: 625px) {
    #section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .Img {
        display: none;
        visibility: hidden;
        position: absolute;
    }

    span {
        display: contents;
    }

}

/* ABOUT ME PAGE (End) */

/* EDUCATION PAGE (Start) */

/* THIS IS FOR THE BLUE STUFF IN ALL THE BOXES (Start) */
.head {
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 20px;
    position: absolute;
    left: 30%;
    top: 7.5%;
}
/* THIS IS FOR THE BLUE STUFF IN ALL THE BOXES (End) */

.EducationPage {
    background-color: #141414;
}

.EducationHeader {
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    gap: 50px;
    margin-bottom: 50px;
}

.SchoolCir {
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 150px;
}

#JLogo {
    height: 100px;
    width: auto;
    transform: translateY(-15px);
}

#OSULogo {
    height: 115px;
    width: auto;
    transform: translateY(-40px);
}

#circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    white-space: nowrap; /* Prevent line breaks */
    overflow: visible; /* Enable horizontal scrolling when necessary */
    display: flex; /* Match the width to the text content */
    flex-direction: column;
    align-items: center;
}

#circle p {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#circle:nth-child(1) {
    background-color: #113625;
    animation: changeBorderRadiusHS 2s infinite alternate linear;
}

#circle:nth-child(2) {
    background-color: white;
    animation: changeBorderRadiusCollege 2s infinite alternate linear;
}

#circle h1, #circle h2, #circle p {
    transform: translateY(210px);
}

#circle h2 {
    color: white;
    font-size: 18px;
    font-weight: 1;
}

.HSCircle h1 {
    background: linear-gradient(to top, #bda16e 0%, #113625 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.ColCircle h1 {
    background: linear-gradient(to top, red 0%, grey 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.RelHeader {
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.RelCourses {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    gap: 20px; /* Gap between grid items */
    justify-items: center;
    margin-bottom: 100px;
}

#courseBox {
    height: 150px;
    width: 375px;
    background: #141414;
    border: solid;
    border-color: white;
    display: flex;
    flex-direction: row;
}

.boximage {
    color: white;
}


.SkillsBar {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 150px;
}

.SkillHead {
    color: white;
    z-index: 16;
    text-align: center;
}

.Skill {
    height: 100px;
    min-width: 100px;
    border-radius: 50%;
    transform: translateY(0);  /* IDK why this needs to be here but it does*/
    will-change: transform;
}

.Skill h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.Skill p {
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translateX(-50%);
    font-weight: 900;
    color: white;
}

.Skill img {
    height: 60px;
    width: auto;
    transform: translateY(6.5px);
}

.AcSocClub {
    height: 200px;
    width: 100%;
    background-color: #141414;
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 100px;
}

.AcSocClub h1 {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Prevent line breaks */
    overflow: auto; /* Enable horizontal scrolling when necessary */
    display: inline-block; /* Match the width to the text content */
}

.Club1 {
    height: 100px;
    min-width: 100px;
    border-radius: 50%;
    transform: translateY(75%);
    margin-right: 25%;
    color: green;
}

.Club2 {
    height: 100px;
    min-width: 100px;
    border-radius: 50%;
    transform: translateY(75%);
    color: #FFCC00;
}

.Club1 h2, .Club2 h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    animation: rotateImage 3s linear infinite;

}

.Club1 p, .Club2 p {
    position: absolute;
    left: 50%;
    top: 105%;
    transform: translateX(-50%);
    font-weight: 900;
    color: white;
    white-space: nowrap; /* Prevent line breaks */
    overflow: auto; /* Enable horizontal scrolling when necessary */
    display: inline-block; /* Match the width to the text content */
}

.Skill:nth-child(1) {
    color: red;
}

.Skill:nth-child(2) {
    color: #f06529;
}

.Skill:nth-child(3) {
    color: #2965f1;
}

.Skill:nth-child(4) {
    color: #ffde57;
}

.Skill:nth-child(6) {
    color: #1D6F42;
}

/* RESUME/SOCIAL BUTTONS (Start) */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.socials {
    display: flex;
    gap: 15px;
}

.socialBackground {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialBackground a {
    color: black;
}

.socialBackground:nth-child(1):hover {
    background-color: #E1306C;
    transition: all 0.6s ease;
}

.socialBackground:nth-child(2):hover {
    background-color: #0072b1;
    transition: all 0.6s ease;
}

.socialBackground:nth-child(3):hover {
    background-color: grey;
    transition: all 0.6s ease;
}

.navbarFooterLinks:hover, .contactResumeFooterLinks:hover {
    color: #f77062;
    transition: all 0.6s ease;
}

.navFooter {
    display: flex;
    gap: 15px;
}

.navbarFooterLinks {
    color: grey;
}

.contactResume {
    display: flex;
    gap: 15px;
}

.contactResumeFooterLinks {
    color: grey;
}

/* RESUME/SOCIAL BUTTONS (End) */

/* PAGE SHRINK RESPONSIVENESS (Start) */

@media screen and (max-width: 1250px) {

    .SchoolCir {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .RelCourses {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

/* PAGE SHRINK RESPONSIVENESS (End) */


/* MOBILE RESPONSIVENESS (Start) */

@media screen and (max-width: 650px) {

    .AboutHeader, .EducationHeader {
        font-size: 50px;
    }
    


}

@media screen and (max-width: 480px) {

    .HSCircle h1, .ColCircle h1 {
        font-size: 25px;
    }

    .ColCircle h1 {
        width: 302px;
    }

    .AcSocClub, .SkillHead {
        font-size: 12.5px;
    }

}

/* MOBILE RESPONSIVENESS (End) */

/* SKILL BAR */

@media screen and (max-width: 910px) {

    .SkillsBar {
        height: 150px;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        padding-left: 50vw;
        padding-right: 50vw;
        scroll-snap-type: x proximity; /* Change snap type to proximity */
        scroll-padding: 0 22.5vw; /* Add padding to buffer zone */
        border-radius: 50%;
    }
    
    .Skill {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        scroll-snap-align: center;
    }

    .SkillHead {
        margin-bottom: 10px;
    }


    .Skill:not(:last-child) {
        margin-right: 60px; /* Add the desired margin value */
      }
    
    .SkillsBar::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}   